@model IEnumerable<MaestroDetalleDemo.Models.TB_REPRESENTANTE>
@{ Layout = null;}
@{
    ViewBag.Title = "Index";
}

<div id="list-Representante">
    @Html.Partial("ListRepresentante", Model)
</div>

